extend base

block append header 
    script(defer,src="/src/hospitalController.js") 

block body
    .flex.justify-center.mb-10.space-x-10.mx-6.my-10
        div(class='w-1/2')
            .flex.justify-between.mb-4
                p.font-ABeeZee.text-2xl List of Hospital
                button.mr-2.p-4.linearBackground.text-white.font-DM-Sans.font-bold.rounded-xl.cursor-pointer#findNearestHospital Find Nearest Hospitals
            .overflow-y-auto(class='h-[550px]')#listOfNearestHospitals
                each hospital in hospitals
                    //- .border-8
                    .border-2(id=hospital.name)
                        img(src=`${hospital.image}` class='h-64' alt=`${hospital.name}`).w-full.object-cover
                        .flex.justify-between
                            .py-4.px-3.font-Roboto(class='w-2/3')
                                .text-xl.font-bold #{hospital.name}
                                .text-justify(class='text-[#6F7CB2]') Address: #{hospital.address}
                                a.text-justify(class='text-[#6F7CB2]' href=`${hospital.web}`) Website: #{hospital.web}
                                .text-justify(class='text-[#6F7CB2]') Hotline: #{hospital.phone}
                            .py-4.px-3.content-center(class='w-1/3')
                                //- class of button is butt
                                button.w-full.p-2.linearBackground.text-white.font-DM-Sans.font-bold.rounded-xl.cursor-pointer(data-lat= `${hospital.coordinates[1]}`, data-long = `${hospital.coordinates[0]}`) Find Way To Hospital
        .border-2(class='w-1/2 h-[625px]')#map                    
            script(defer, src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&loading=async&callback=initMap&libraries=marker`)
    //- .popup.hidden.absolute.ml-80(class='t-1/2 l-1/2')
    //-     each hospital in hospitals
    //-         .border-8(id=hospital.name)
    //-             img(src=`${hospital.image}` class='h-64' alt="1").w-full.object-cover
    //-             .flex.justify-between
    //-                 .py-4.px-3
    //-                     .title.font-Roboto.text-xl.font-bold #{hospital.name}
    //-                     .description.truncate-3.text-justify.font-Roboto(class='text-[#6F7CB2]') Address: #{hospital.address}
    //-                     a.description.truncate-3.text-justify.font-Roboto(class='text-[#6F7CB2]' href=`${hospital.web}`) Web: #{hospital.web}
    //-                     .description.truncate-3.text-justify.font-Roboto(class='text-[#6F7CB2]') Hotline: #{hospital.phone}
    //-                 .py-4.px-3
    //-                     //- class of button is butt
    //-                     button.w-full.py-2.linearBackground.my-4.text-white.font-DM-Sans.tracking-widest.font-bold.rounded-xl.details.butt Details
    //-                     button.w-full.py-2.linearBackground.my-4.text-white.font-DM-Sans.tracking-widest.font-bold.rounded-xl.findway.butt Find Way To Hospital



    
