extend base

block append header 
    script(defer, type="module" src="/src/newsItemController.js") 

block body
    .newsContainer(data-id= news.id).py-12
        .newsTitle.font-AbhayaLibre.text-5xl.text-center.font-bold.mx-auto(class='w-3/4')= news.title
        .newsDescription.font-AbhayaLibre.text-xl.text-center.font-bold.mx-auto(class='w-2/3').py-12= news.description
        .newsData(data-news=news.news data-slug=news.slug)
        .newsBox.font-Roboto.px-12.text-justify.mx-auto.pb-12
        .mx-auto.text-right.font-ABeeZee(class='w-2/3 text-[#6F7CB2]')
            - const time = new Date(news.updatedAt); 
            - const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; 
            - const formattedDate = time.getDate() == 1 ? `${time.getDate()}st` : time.getDate() == 2 ? `${time.getDate()}nd` : time.getDate() == 3 ? `${time.getDate()}rd` : `${time.getDate()}th`;
            - const formattedTime = `${days[time.getDay()]}, ${months[time.getMonth()]} ${formattedDate}, ${time.getFullYear()}`;
            .newsTime.mx-auto.text-right= formattedTime
            .newsUploader= news.userID.fullname
    hr.mx-16(class='border-[#1678F2] border-[1.5px]').my-12
    .recommendNewsContainer.px-20
        .recommendNews_title.linearText.font-ABeeZee.text-4xl.font-ABeeZee.mb-4.font-bold RECOMMEND

        .recommendNewsBox.grid.grid-cols-3.w-full.gap-24
            each news in recommendNews 
                a(href=`/news/${news.slug}`).shadow-xl.newsItem
                        img(src=`./../images/news/${news.slug}/${news.coverImage}` class='h-56').w-full.object-cover
                        .py-4.px-3
                            .title.font-Roca.text-xl #{news.title}
                            .description.truncate-3.text-justify.font-Roboto(class='text-[#6F7CB2]') #{news.description}

    hr.mx-16(class='border-[#1678F2] border-[1.5px]').my-12
    #comment.commentsContainer.px-20.pb-20
        .comments_title.linearText.font-ABeeZee.text-4xl.font-ABeeZee.my-4.font-bold COMMENTS
        .commentBox.px-16
            if user 
                .flex.flex-1.items-center.justify-center.gap-12
                    img(src=`./../images/users/profile/${user.image}`).rounded-full.w-20.object-fill.border
                    .relative.w-full
                        form(method='post').commentForm
                            input(name='user' type='hidden' value=user.id)
                            input(type="text" placeholder='Write your comment here...' class='border-[#EAF0F7]' name='comment').w-full.border.py-2.px-3.rounded-lg
                            button(type='submit').cursor-pointer
                                img(src="./../images/png/send-svgrepo-com.png", alt="Send icon" class='top-1/2 -translate-y-1/2').absolute.right-4.w-6
            else 
                .linearText.text-center.font-AbhayaLibre.text-xl Please #[a(href='/signIn' class='hover:underline').italic.underline sign in] to comment on this news
            if comments.length > 0
                each comment in comments
                    .flex.flex-1.items-center.justify-center.gap-12.px-16.my-6
                        img(src=`./../images/users/profile/${comment.userID.image}`).rounded-full.w-20.object-fill.border.shadow-xl
                        .comment.flex.flex-col.w-full 
                            .commentInfo.flex.flex-1.px-6 
                                .commentNameRating.flex.flex-1.gap-4 
                                    .commentUsername.font-AbhayaLibre.font-extrabold.text-2xl(class='text-[#6E67F4] min-w-56')= comment.userID.fullname
                                .commentTime.font-Inter(color='text-[#667085]')= comment.updatedAt
                            .commentContent.font-Inter(color='text-[#667085]')= comment.message
            else
                .flex.flex-1.justify-center.h-24.items-center.text-2xl.text-center.rounded-lg.my-4.italic
                    | There is no comment on this post yet! Make first comment!
            


